* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #007bff;
    --primary-hover: #0056b3;
    --secondary-color: #ffffff;
    --danger-color: #ff4d4d;
    --danger-hover: #d90404;
    --text-color: #e8e4e4;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #070404;
    color: var(--text-color);
}

#videos {
    display: grid;
    grid-template-columns: 55% 45%; /* 左側占 55%，右側視訊區域占 45% */
    height: 100vh;
    overflow: hidden;
}

#PDF-Block {
    left: 0;
    position: fixed;
    z-index: 3;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgb(255 1 1 / 10%);
    background-color: #f80000;
}

#the-canvas {
    border: 1px solid #000000;
    direction: ltr;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 60%;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

#pdf-ctl {
    position: fixed;
    top: 60%;
    left: 15%;
    z-index: 4;
}

#prev, #next {
    position: fixed;
    top: 60%;
    z-index: 4;
    padding: 10px 20px;
    background: linear-gradient(90deg, var(--primary-color), var(--primary-hover));
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

#prev {
    left: 5%;
}

#next {
    left: 25%;
}

#prev:hover, #next:hover {
    background: linear-gradient(90deg, var(--primary-hover), #003d80);
    transform: scale(1.05);
}

#text {
    position: relative;
}

#input {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 35%;
    width: 40%;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    background-color: var(--secondary-color);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    resize: none;
    overflow-wrap: break-word;
}

#submit-btn, #send-btn {
    position: fixed;
    right: 60%;
    bottom: 0;
    padding: 10px 20px;
    background: linear-gradient(90deg, var(--primary-color), var(--primary-hover));
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    z-index: 5;
}

#send-btn {
    bottom: 255.5px;
}

#submit-btn:hover, #send-btn:hover {
    background-color: var(--primary-hover);
    transform: scale(1.05);
}

#question {
    color: var(--text-color);
    background-color: #47ff11;
    position: fixed;
    bottom: 25%;
    left: 0;
    width: 40%;
    height: 10%;
    box-sizing: border-box;
    display: block;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#user-1 {
    z-index: 1;
    position: fixed;
    right: 0;
    width: 60%;
}

#user-2 {
    z-index: 0;
    position: fixed;
    right: 0;
    width: 60%;
    display: block;
}

.video-player {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.smallFrame {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 170px;
    width: 300px;
    border-radius: 15px;
    border: 2px solid var(--primary-color);
    box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: transform 0.3s ease;
}

.smallFrame:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

#controls {
    position: fixed;
    bottom: 30px;
    right: 8%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.5em;
    z-index: 9999;
}

.control-container {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease;
}

.control-container img {
    height: 30px;
    width: 30px;
}

.control-container:hover {
    background-color: var(--primary-hover);
    transform: translateY(-3px);
}

.green-btn {
    background-color: #08f810;
}

.green-btn:hover {
    background-color: #45a049;
}

#leave-btn {
    background-color: var(--danger-color);
}

#leave-btn:hover {
    background-color: var(--danger-hover);
}

#user-2.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#screen-share-container {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;
    height: 300px;
    z-index: 1;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
